[submodule "ycb_render"]
	path = ycb_render
	url = https://github.com/yuxng/ycb_render.git
[submodule "externel/vision"]
	path = externel/vision
	url = https://github.com/warmspringwinds/vision.git
[submodule "ycb_render/pybind11"]
	path = ycb_render/pybind11
	url = https://github.com/pybind/pybind11.git
